*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'PT Sans', sans-serif;
  background-color: white;
}

.flex{
  display: flex;
}

.container{
  width: 90%;
  flex-direction: column;
}

.debug{
  border: 1px solid black;
}

.card{
  width: 100%;
  margin-top: 20px;
  
}

.button-white{
  background-color: white;
  padding: 6px 12px;
  border-radius: 20px;
}

.button-blue{
  background-color:#0084FD;
  color: white;
  border-radius: 20px;
  padding: 10px 60px;
  margin-bottom: 40px;
}

.purple-button{
  background-color: #9792E4;
  padding: 10px 50px;
  border-radius: 20px;
  color: white;
}

/* Header */

header{
  background-color: #0084FD;
  height: 74px;
  justify-content: center;
  align-items: center;
}

header .container{
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90%;
}

.logo{
  justify-content: flex-start;
  align-items: center;
  width: 10%;
  height: 90%;
  
}

.menu-panino{
  justify-content: flex-end;
  align-items: center;
  width: 80%;
  height: 90%;
}

.menu{
  width: 80%;
  height: 90%;
  display: none;
}

header .fa-bars{
  color: white;
  font-size: 1.5rem;
}

header nav ul{
  list-style: none;
  align-items: center;
}

header nav ul li{
  margin: 0 15px;
  margin-right: 0;
}

header nav ul li a{
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 1.1rem;
}

header nav ul li .button-white a{
  color: black;
}

@media screen and (min-width:1200px){
  .menu-panino{
    display: none;
  }
  .menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;;
  }

  header .container{
    width: 80%;
  }
}

/* Hero */

#hero{
  justify-content: center;
  align-items: center;
}

#hero .container{
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 80px;  
}

#hero .card{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #B5DDFF;
  border-radius: 20px;
  padding-top: 30px;
  line-height: 20px;
}

#hero .card .card-int-sx{
  width: 85%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  text-align: left;
}

#hero .card h2{
  color: #0084FD;
  padding-bottom: 35px;
}

#hero .card .card-int-sx p:first-of-type{
  width: 85%;  
}

#hero .card p{
  width: 75%;
  font-weight: bold;
  color: #5A6E7F;
  padding-bottom: 35px;
}

#hero .card img{
  object-fit: cover;
  width: 80%;
  height: 30%;
  padding-left: 10px;
}

#hero .card .icon{
  color: #0084FD;
  font-size: 5rem;
  padding-bottom: 30px;
}




@media screen and (min-width:768px){
  #hero .container .card:first-of-type{
    width: 66%;
  }

  #hero .container .card:nth-of-type(2){
    width: 31%;
    height: 675px;
    margin-right: 0;
  }

  #hero .container .card:nth-of-type(5){
    margin-right: 0;
  }

  #hero .card{
    width: calc(93% / 3);
    margin: 10px 0;
    justify-content: flex-start;
  }

  #hero .card p{
    font-size: 1.1rem;
  }

  #hero .container{
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width:1200px){
  #hero .container .card:first-of-type{
    flex-direction: row;
    width: 66%;
    height: 340px;
  }

  #hero .card .card-int-sx{
    width: 60%;
    justify-content: center; 
    padding-left: 10px;
  }

  #hero .card .card-int-dx{
    justify-content: flex-end;
    align-items: flex-end;
    width: 40%;
     
  }

  #hero .card .card-int-dx img{
    width: 100%;
  }

  
  #hero .container .card:nth-of-type(2){
    width: 31%;
    height: 340px;
  }

  #hero .container{
    width: 80%;
  }

  #hero .card{
    width: calc(93% / 3);

    height: 340px;
  }

  #hero .card p{
    width: 90%;
  }
}

/* Strategic Planning */

#strategic-planning{
  background-color: #9792E4;
  justify-content: center;
  align-items: center;
}

#strategic-planning .card{
    border-radius: 40px;
    flex-direction: column;
}


#strategic-planning .card .image-sp img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}

#strategic-planning .card .text-sp{
  
  width: 92%;
  color: white;
}

#strategic-planning .card .text-sp h2{
  padding-bottom: 50px;
  font-size: 2rem;
}

#strategic-planning .card.white{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  text-align: center;
}


#strategic-planning .card .image-wh-sp img{
  object-fit: contain;
  width: 90%;
  height: 100%;
}

#strategic-planning .card .text-wh-sp{
  
  width: 75%;
  font-style: italic;
}

#strategic-planning .card .text-wh-sp h2{
  padding-bottom: 25px;
  font-size: 2rem;
  font-style: normal;
}

#strategic-planning .card .text-wh-sp .arrow{
  display: inline-block;
  font-size: 1.2rem;
  background-color: #9792E4;
  padding: 10px 15px;
  border-radius: 50%;
  margin: 20px 0 30px;
}


#strategic-planning .container{
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

@media screen and (min-width:1200px){
  #strategic-planning .container{
    width: 80%;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }

  #strategic-planning .card{
    width: 48%;  
  }

  #strategic-planning .card .image-wh-sp img{
    width: 60%;
  }
}

/* Testimonials */

#testimonials{
  justify-content: center;
  align-items: center;
}

#testimonials .title{
  flex-direction: column;
  width: 80%;
  margin-top: 50px;
  text-align: center;
  font-size: 1.1rem;
}

#testimonials .title h2{
  padding: 30px 0;
  color: #9792E4;
}

#testimonials .container{
  justify-content: center;
  align-items: center;
  margin-bottom: 110px;
}

#testimonials .card{
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  background-color: #9792E4;
  border-radius: 40px;
  height: 480px;
}

#testimonials .card.celia{
  height: 500px;
}


#testimonials .card .image-t img{
  object-fit: cover;
  width: 70%;
  height: 100%;
  border-radius: 50%;
  padding: 30px 0 30px;
}

#testimonials .card .text-t{
  width: 90%;
  color: white;
  font-size: 1.2rem;
}

#testimonials .card .text-t .sign{
  padding: 30px 0 30px;
  font-weight: bold;
}

@media screen and (min-width:768px){
  #testimonials .container .card{
    flex-direction: row;
    justify-content: center;
    height: 260px;
  }

  #testimonials .container .card .image-t{
    width: 30%;
    height: 90%;
  }

  #testimonials .container .card .image-t img{
    width: 90%;
  }

  #testimonials .container .card .text-t{
    width: 70%;
    text-align: left;
    padding: 0 10px;
  }
}

@media screen and (min-width:1200px){
  #testimonials .container{
    width: 80%;
  }

  #testimonials .container .card .image-t{
    width: 20%;
  }

  #testimonials .container .card .text-t{
    width: 80%;
  }
}

/* Benefits */

#benefits{
  justify-content: center;
  align-items: center;
  background-color: #9792E4;
}

#benefits .title-benefits{
    color: white;
    font-size: 2.1rem;
    padding-bottom: 20px;
    text-align: center;
}

#benefits .container{
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 60px;
}

#benefits .card{
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  border-radius: 20px;
}

#benefits .card h2{
  font-size: 3rem;
  color: #9792E4;
  padding: 35px 0 30px 30px;
}

#benefits .card h3{
  font-size: 1.5rem;
  color: #9792E4;
  padding: 0 0 25px 30px;
}

#benefits .card p{
  color: #737373;
  padding: 0 60px 30px 30px;
  line-height: 1.5rem;
}

#benefits .card .purple-button{
  margin-left: 30px;
  margin-bottom: 30px; 
  font-weight: bold;
}

@media screen and (min-width:768px){
  #benefits .container{
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  #benefits .card{
    width: 48%;
  }

  #benefits .title-benefits{
    width: 100%;
    font-size: 2.5rem;  
  }

  #benefits .card h2{
    font-size: 4rem;
    padding: 30px 0 20px 25px;
  }

  #benefits .card h3{
    padding-left: 25px;
  }

  #benefits .card p{
    padding: 0 12px 30px 25px;
  }

  #benefits .card .purple-button{
    margin-left: 25px;
  }
}

@media screen and (min-width:1200px){
  #benefits .container{
    width: 80%;
  }

  #benefits .card{
    width: 32%;
  }
}

/* About Us */

#about-us{
  justify-content: center;
  align-items: center;
}

#about-us .container{
  margin-top: 70px;
  margin-bottom: 75px;
}

#about-us .card.img{
  flex-direction: column;
}
#about-us h2{
  color: #9792E4;
  font-size: 3rem;
  padding-bottom: 50px;
}

#about-us .card.text p{
  line-height: 2.5rem;
  font-size: 1.1rem;
}

#about-us .card.text p:first-of-type{
  padding-bottom: 60px;
}

#about-us .img .image-au{
  position: relative;
}

#about-us .img .image-au span{
  font-size: 5rem;
  color:#9792E4;
  position: absolute;
  top: 0;
  left: 130px;
}

#about-us .img .image-au img{
  border-radius: 50%;
  object-fit: cover;
  height: 180px;
  width: 180px;
  margin-top: 20px;
}

#about-us .card .quote-au p{
  color:#9792E4;
  font-size: 1.9rem;
  font-weight: bold;
  line-height: 2rem;
  padding: 20px 0 20px;
}

#about-us .card .quote-au .purple-button{
  display: inline-block;
  padding: 7px 15px;
}

#about-us .fa-linkedin{
  padding-right: 5px;
}

@media screen and (min-width:768px){
  #about-us .container{
    flex-direction: row;
    justify-content: space-between;
  }

  #about-us h2{
    font-size: 4rem;
  }

  #about-us .card.text{
    width: 55%;
  }

  #about-us .card.img{
    width: 42%;
  }

  #about-us .img .image-au img{
    width: 230px;
    height: 230px;
  }

  #about-us .img .image-au span{
    position: absolute;
    top: 0;
    left: 170px;
  }

  #about-us .card .quote-au p{
    line-height: 2.5rem;
    width: 90%;
  }
}

@media screen and (min-width:1200px){
  #about-us .container{
    width: 80%;
  }

  #about-us .card.text{
    width: 55%;
  }

  #about-us .card.img{
    width: 40%;
  }
}

/* Get Started */

#get-started{
  background-color: #9792E4;
  justify-content: center;
  align-items: center;
}

#get-started .card{
  height: 480px;
}

#get-started .container{
  margin-top: 45px;
  margin-bottom: 60px;
}

@media screen and (min-width:768px){
  #get-started .container{
    width: 80%;
  }
}

@media screen and (min-width:1200px){
  #get-started .container{
    width: 30%;
  }
}

/* Footer */

footer{
  background-color: #333333;
  color: white;
  height: 230px;
  justify-content: center;
  align-items: center;
}

footer .container{
  text-align: center;
  font-size: .9rem;
}

footer span{
  padding-top: 60px;
}

footer span a,
footer span p{
  display: inline;
  margin: 0 1px;
}

footer span a{
  color: #9792E4;
}

@media screen and (min-width:768px){
  footer .container{
    width: 50%;
  }
}

@media screen and (min-width:1200px){
  footer .container{
    width: 20%;
  }
}