*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'PT Sans', sans-serif;
  background-color: white;
}

.flex{
  display: flex;
}

.container{
  width: 90%;
  flex-direction: column;
}

.debug{
  border: 1px solid black;
}

.card{
  width: 100%;
  margin: 20px 0;
  
}

/* Header */

header{
  background-color: #0084FD;
  height: 74px;
  justify-content: center;
  align-items: center;
}

header .container{
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90%;
}

.logo{
  justify-content: flex-start;
  align-items: center;
  width: 25%;
  height: 90%;
  
}

.menu-panino{
  justify-content: flex-end;
  align-items: center;
  width: 65%;
  height: 90%;
}

.menu{
  width: 65%;
  height: 90%;
  display: none;
}

@media screen and (min-width:1200px){
  .menu-panino{
    display: none;
  }
  .menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;;
  }
}

/* Hero */

#hero{
  justify-content: center;
  align-items: center;
}

#hero .container{
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#hero .card{
  height: 365px;
  background-color: #B5DDFF;
  border-radius: 20px;
}

@media screen and (min-width:768px){
  #hero .container .card:first-of-type{
    width: 66%;
  }

  #hero .container .card:nth-of-type(2){
    width: 31%;
    margin-right: 0;
  }

  #hero .container .card:nth-of-type(5){
    margin-right: 0;
  }

  #hero .card{
    width: calc(93% / 3);
    margin: 10px 0;
  }

  #hero .container{
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width:1200px){
  #hero .container .card:first-of-type{
    width: 66%;
  }

  #hero .container .card:nth-of-type(2){
    width: 31%;
  }

  #hero .card{
    width: calc(93% / 3);
  }
}

/* Strategic Planning */

#strategic-planning{
  background-color: #9792E4;
  justify-content: center;
  align-items: center;
}

#strategic-planning .card{
  height: 635px;
  border-radius: 40px;
}

#strategic-planning .card.white{
  height: 610px;
  background-color: white;
}

#strategic-planning .container{
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width:1200px){
  #strategic-planning .container{
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }

  #strategic-planning .card{
    width: 48%;
  }
}