*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'PT Sans', sans-serif;
  background-color: white;
}

.flex{
  display: flex;
}

.container{
  width: 90%;
  flex-direction: column;
}

.debug{
  border: 1px solid black;
}

.card{
  width: 100%;
  margin-top: 20px;
  
}

/* Header */

header{
  background-color: #0084FD;
  height: 74px;
  justify-content: center;
  align-items: center;
}

header .container{
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90%;
}

.logo{
  justify-content: flex-start;
  align-items: center;
  width: 25%;
  height: 90%;
  
}

.menu-panino{
  justify-content: flex-end;
  align-items: center;
  width: 65%;
  height: 90%;
}

.menu{
  width: 65%;
  height: 90%;
  display: none;
}

@media screen and (min-width:1200px){
  .menu-panino{
    display: none;
  }
  .menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;;
  }

  header .container{
    width: 60%;
  }
}

/* Hero */

#hero{
  justify-content: center;
  align-items: center;
}

#hero .container{
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 80px;  
}

#hero .card{
  height: 365px;
  background-color: #B5DDFF;
  border-radius: 20px;
}


@media screen and (min-width:768px){
  #hero .container .card:first-of-type{
    width: 66%;
  }

  #hero .container .card:nth-of-type(2){
    width: 31%;
    margin-right: 0;
  }

  #hero .container .card:nth-of-type(5){
    margin-right: 0;
  }

  #hero .card{
    width: calc(93% / 3);
    margin: 10px 0;
  }

  #hero .container{
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width:1200px){
  #hero .container .card:first-of-type{
    width: 66%;
  }

  #hero .container .card:nth-of-type(2){
    width: 31%;
  }

  #hero .container{
    width: 60%;
  }

  #hero .card{
    width: calc(93% / 3);
  }
}

/* Strategic Planning */

#strategic-planning{
  background-color: #9792E4;
  justify-content: center;
  align-items: center;
}

#strategic-planning .card{
  height: 635px;
  border-radius: 40px;
}

#strategic-planning .card.white{
  height: 610px;
  background-color: white;
}


#strategic-planning .container{
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

@media screen and (min-width:1200px){
  #strategic-planning .container{
    width: 60%;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }

  #strategic-planning .card{
    width: 48%;
  }
}

/* Testimonials */

#testimonials{
  justify-content: center;
  align-items: center;
}

#testimonials span{
  margin-top: 50px;
  text-align: center;
}

#testimonials .container{
  justify-content: center;
  align-items: center;
  margin-bottom: 110px;
}

#testimonials .card{
  height: 498px;
  background-color: #9792E4;
  border-radius: 40px;
}

@media screen and (min-width:768px){
  #testimonials .card{
    height: 280px;
  }
}

@media screen and (min-width:1200px){
  #testimonials .container{
    width: 60%;
  }
}

/* Benefits */

#benefits{
  justify-content: center;
  align-items: center;
  background-color: #9792E4;
}

#benefits h2{
    color: white;
}

#benefits .container{
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 60px;
}

#benefits .card{
  height: 395px;
  background-color: white;
  border-radius: 20px;
}

@media screen and (min-width:768px){
  #benefits .container{
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  #benefits .card{
    height: 415px;
    width: 47%;
  }

  #benefits h2{
    width: 100%;
    text-align: center;
  }
}

@media screen and (min-width:1200px){
  #benefits .container{
    width: 60%;
  }

  #benefits .card{
    width: 32%;
  }
}

/* About Us */

#about-us{
  justify-content: center;
  align-items: center;
}

#about-us .container{
  margin-top: 70px;
  margin-bottom: 75px;
}

#about-us h2{
  color: #9792E4;
}

#about-us p:first-of-type{
  padding-bottom: 70px;
}

#about-us .img{
  height: 415px;
}

@media screen and (min-width:768px){
  #about-us .container{
    flex-direction: row;
    justify-content: space-between;
  }

  #about-us .card.testo{
    width: 55%;
  }

  #about-us .card.img{
    width: 42%;
  }
}

@media screen and (min-width:1200px){
  #about-us .container{
    width: 60%;
  }
}

/* Get Started */

#get-started{
  background-color: #9792E4;
  justify-content: center;
  align-items: center;
}

#get-started .card{
  height: 480px;
}

#get-started .container{
  margin-top: 45px;
  margin-bottom: 60px;
}

@media screen and (min-width:768px){
  #get-started .container{
    width: 80%;
  }
}

@media screen and (min-width:1200px){
  #get-started .container{
    width: 50%;
  }
}

/* Footer */

footer{
  background-color: #333333;
  color: white;
  height: 230px;
  justify-content: center;
  align-items: center;
}

footer .container{
  text-align: center;
  font-size: .9rem;
}

footer span{
  padding-top: 60px;
}

footer span a,
footer span p{
  display: inline;
  margin: 0 1px;
}

footer span a{
  color: #9792E4;
}

@media screen and (min-width:768px){
  footer .container{
    width: 50%;
  }
}

@media screen and (min-width:1200px){
  footer .container{
    width: 32%;
  }
}